body{
	font-family: 'Roboto', sans-serif;
}

.list-group-item {
    border-color: #495057 !important;
    background-color: #fff0;
}
.p0{
	padding:0;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.blue{
    color: #0077c6!important;
    font-weight: bold;
}
.alert{
	margin-bottom: 0;
}
.img-fondo-index{
	background-image: url("https://technext.github.io/ezuca/images/hero-bg.jpg");
	background-repeat: no-repeat, repeat;
	height: 41em;
	
}
.bg-light-item{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #ffffffc7;
    border: 0
}

.carousel-caption{
	background-color: #343a40a6;
}
.carousel-caption > h1 {
	font-size: 8.5rem;
}

a:hover{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

img.img-usuario.rounded-circle {
    width: 25px;
    height: 25px;
}

img.img-usuario-consulta.rounded-circle {
    width: 60px;
    height: 60px;
    margin-left: 1em;
}
.img-curso{
	border-style: solid;
    border-color: #6c757d2e;
    border-width: 2px;;
}
.card-img-top {
    height: 200px !important;
    border-style: solid;
    border-color: #c9c9c9;
    border-width: thin;
}
.modal{
	color: black;
}
.titulo{
	background-color: #343a40;
    color: white;	    
}
.logout {
    width: 1.5em;
}
.subtitulo-card-edicion{
	text-align: center;
    background-color: #007bff;
    color: white;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subtitulo-card-aceptados{
	text-align: center;
    background-color: #28a745;
    color: white;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subtitulo-card-programa{
	text-align: center;
	background-color: #17a2b8;
	color: white;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subtitulo-card-previas{
	text-align: center;
	background-color: #dc3545b0;
	color: white;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.card{
	margin-bottom: 2em !important;
}
.form-check-input {
    position: static;
    margin-top: 0rem; 
    margin-left: 0em; 
}
.media > img {
    height: 55px;
    width: 55px;
}
#miEnlace {
  color: white;
  /*background-color: #ffffcc;*/
}

#txtDer{
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 450px) {
  .btn {
    margin-right: 0rem!important;
  }
}